
  
  div.material-table .hiddensearch {
    padding: 0 14px 0 24px;
    border-bottom: solid 1px #DDDDDD;
    display: none;
  }
  
  div.material-table .hiddensearch input {
    margin: 0;
    border: transparent 0 !important;
    height: 48px;
    color: rgba(0, 0, 0, .84);
  }
  
  div.material-table .hiddensearch input:active {
    border: transparent 0 !important;
  }

  div.material-table table tbody tr:not(.redrowClass):hover {
    background-color: #EEE;
  }  
  
  div.material-table .table-header {
    height: 64px;
    padding-left: 24px;
    padding-right: 14px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-display: flex;
    border-bottom: solid 1px #DDDDDD;
  }
  
  div.material-table .table-header .actions {
    display: -webkit-flex;
    margin-left: auto;
  }
  
  div.material-table .table-header .btn-flat {
      min-width: 36px;
      padding: 0 8px;
  }
  
  div.material-table .table-header input {
    margin: 0;
    height: auto;
  }
  
  div.material-table .table-header i {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
  }
  
  div.material-table .table-footer {
    height: 56px;
    padding-left: 24px;
    padding-right: 14px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.54);
  }
  
  div.material-table .table-footer .dataTables_length {
    display: -webkit-flex;
    display: flex;
  }
  
  div.material-table .table-footer label {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    display: -webkit-flex;
    display: flex;
    
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  
  div.material-table .table-footer .select-wrapper {
    display: -webkit-flex;
    display: flex;    
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  
  div.material-table .table-footer .dataTables_info,
  div.material-table .table-footer .dataTables_length {
    margin-right: 32px;
  }
  
  div.material-table .table-footer .material-pagination {
    display: flex;
    -webkit-display: flex;
    margin: 0;
  }
  
  div.material-table .table-footer .material-pagination li:first-child {
    margin-right: 24px;
  }
  
  div.material-table .table-footer .material-pagination li a {
    color: rgba(0, 0, 0, 0.54);
  }
  
  div.material-table .table-footer .select-wrapper input.select-dropdown {
    margin: 0;
    border-bottom: none;
    height: auto;
    line-height: normal;
    font-size: 12px;
    width: 40px;
    text-align: right;
  }
  
  div.material-table .table-footer select {
    background-color: transparent;
    width: auto;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: auto;
    margin-left: 20px;
  }
  
  div.material-table .table-title {
    font-size: 20px;
    color: #000;
  }
  
  
  div.dt-button-info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center;
    z-index: 21;
    color: rgba(0, 0, 0, 0.6);
  }
  
  @media screen and (max-width: 640px) {
    div.dt-buttons {
      float: none !important;
      text-align: center;
    }
  }
  